
$red: #db5353;
$green: #e1ee6f;
$orange: #cb782a;
$disabled-gray: #a39d9d;
$delimiter: rgba(107, 10, 133, 0.75);
$font-color: rgb(187, 63, 63);
$background-color: rgba(249, 249, 210, 0.9);

$small-font: 0.9em;
$normal-font: 1em;
$medium-font: 1.2em;
$big-font: 1.5em;
$huge-font: 2em;
$max-width: 600px;
